@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Bricolage Grotesque", sans-serif;
}
.font-highlight {
    font-family: "Bricolage Grotesque", sans-serif;
}
a.active {
    color: orange;
    position: relative;
}
a.active::after {
    position: absolute;
    content: url(/src/assets/dumbbell.png);
    width: 10px !important;
    height: auto;
    right: 4px;
    top: -11px;
    transform: rotate(45deg);
}
