@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
    font-family: "Bricolage Grotesque", sans-serif;
}
.font-highlight {
    font-family: "Bricolage Grotesque", sans-serif;
}
.font-primary {
    font-family: "Open Sans", sans-serif;
}
